*.info
*.kate-swp
*.log
*.ps1
*.psd1
*~
.*.swp
.*_cache/
.DS_Store*
.coverage
.cspellcache
.directory
.pnp.*
/.vs/
/.yarn/install-state.gz
/CMakeUserPresets.json
/build/
/dist/
/src/obj/
/vcpkg_installed/
node_modules/
