*.cache
*.db
*.exe
*.kate-swp
*.pdb
*.sqlite
*.swp*
*~
.DS_Store
.DS_Store?
.Spotlight-V100/
.Trashes/
._*
.cache/
.cspellcache
.directory
.vs/
/.vs/CMake Overview
/.vs/CMakeWorkspaceSettings.json
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/winprefs/
/out/
Thumbs.db
bin/
build/
ehthumbs.db
exec-reg.bat
node_modules/
obj/
