---
jobs:
  build:
    runs-on: windows-latest
    steps:
      - id: fixed_workspace
        name: Fix path
        run: >-
          echo out=$("${{github.workspace}}" -Replace "\\","/") | Out-File
          -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure
        run: >-
          cmake -DCMAKE_BUILD_TYPE=${{matrix.build-type}} -B ${{github.workspace}}/build
          --install-prefix ${{github.workspace}}/build/prefix
          -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=ON
      - name: Build
        run: cmake --build ${{github.workspace}}/build --verbose --config ${{matrix.build-type}}
      - name: Install
        run: cmake --install ${{github.workspace}}/build --config ${{matrix.build-type}} --verbose
      - name: Configure Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - name: Crash test
        run: ${{github.workspace}}/build/prefix/bin/winprefs.exe -c -d
      - name: Show Git log of export
        run: |
          cd "${env:APPDATA}/prefs-export"
          git --no-pager log
      - name: Install NSIS
        run: choco install nsis -y
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}} --config ${{github.workspace}}/build/CPackConfig.cmake
          --verbose
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: 'winprefs-official-${{ matrix.build-type }}'
          path: |
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.exe
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.zip
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.exe
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.zip
      - if: ${{ matrix.build-type == 'Release' && github.ref_type == 'tag' }}
        name: Upload package
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.exe
            ${{steps.fixed_workspace.outputs.out}}/winprefs-*.zip
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
  build_cross:
    runs-on: ubuntu-latest
    steps:
      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure
        run: >-
          cmake -B ${{github.workspace}}/build
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}}
          -DCMAKE_BUILD_WITH_INSTALL_RPATH=ON -DCMAKE_C_COMPILER=x86_64-w64-mingw32-gcc
          -DCMAKE_SYSTEM_NAME=Windows -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=ON
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.build-type}} --verbose
      - name: Package
        run: >-
          cpack -G ZIP -C ${{matrix.build-type}} --config
          ${{github.workspace}}/build/CPackConfig.cmake --verbose
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: 'winprefs-cross-${{ matrix.build-type }}'
          path: |
            ${{github.workspace}}/winprefs-*.exe
            ${{github.workspace}}/winprefs-*.zip
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/winprefs-*.exe
            ${{github.workspace}}/winprefs-*.zip
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
  build_msys:
    runs-on: windows-latest
    steps:
      - id: fixed_workspace
        name: Fix path
        run: >-
          echo out=$("${{github.workspace}}" -Replace "\\","/") | Out-File
          -FilePath $env:GITHUB_OUTPUT -Encoding utf8 -Append
      - uses: msys2/setup-msys2@v2
        with:
          install: >-
            make
          msystem: ${{matrix.sys.name}}
          pacboy: >-
            cmake:p
            ninja:p
            toolchain:p
          update: true
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure
        run: >-
          cmake -G Ninja -B ${{steps.fixed_workspace.outputs.out}}/build
          --install-prefix ${{steps.fixed_workspace.outputs.out}}/build/prefix
          -DCMAKE_BUILD_TYPE=${{matrix.build-type}}
        shell: msys2 {0}
      - name: Build
        run: cmake --build ${{steps.fixed_workspace.outputs.out}}/build --verbose
        shell: msys2 {0}
      - name: Install
        run: >-
          cmake --install ${{steps.fixed_workspace.outputs.out}}/build
          --config ${{matrix.build-type}} --verbose
        shell: msys2 {0}
      - name: Install NSIS
        run: choco install nsis -y
      - name: Package
        run: >-
          cpack -C ${{matrix.build-type}}
          --config ${{steps.fixed_workspace.outputs.out}}/build/CPackConfig.cmake --verbose
        shell: msys2 {0}
      - name: Configure Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - name: Crash test
        run: ${{github.workspace}}/build/prefix/bin/winprefs.exe -c -d
      - name: Show Git log of export
        run: |
          cd "${env:APPDATA}/prefs-export"
          git --no-pager log
      - name: 'Upload Artifacts'
        uses: 'actions/upload-artifact@v6'
        with:
          if-no-files-found: error
          name: 'winprefs-msys-${{matrix.sys.name}}-${{ matrix.build-type }}'
          path: |
            ${{github.workspace}}/winprefs-*.exe
            ${{github.workspace}}/winprefs-*.zip
      - name: Attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            ${{github.workspace}}/winprefs-*.exe
            ${{github.workspace}}/winprefs-*.zip
    strategy:
      fail-fast: false
      matrix:
        build-type: [Debug, Release]
        sys:
          - env: clang-x86_64
            name: clang64
          - env: i686
            name: mingw32
          - env: x86_64
            name: mingw64
          - env: ucrt-x86_64
            name: ucrt64
name: Build
'on':
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
permissions:
  attestations: write
  contents: write
  id-token: write
